<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.greedygame.android" android:installLocation="preferExternal">
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <application>
    <activity android:hardwareAccelerated="true" android:name="com.greedygame.android.adhead.GGAdHeadActivity" android:theme="@style/Theme.Transparent" android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection" android:launchMode="singleTask">
    </activity>
    <receiver android:name="com.greedygame.android.agent.GreedyRefReceiver" android:enabled="true" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
        <action android:name="com.greedygame.broadcast" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
